node_modules/
dist/
apps/desktop/web/
apps/desktop/release/
apps/mobile/android/app/build/
apps/mobile/android/build/
apps/mobile/android/.gradle/
apps/mobile/android/local.properties
apps/mobile/www/
apps/mobile/android/app/src/main/assets/public/
apps/mobile/android/app/src/main/assets/capacitor.config.json
apps/mobile/android/app/src/main/assets/capacitor.plugins.json
apps/mobile/android/capacitor-cordova-android-plugins/
/*.png
